{% load static %}
<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
    {% block title %}
    	<title>后台登录</title>
    {% endblock %}
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{#    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />#}
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{% static 'xadmin/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'xadmin/css/xadmin.css' %}">

    {% block css_append %}

    {% endblock %}

    <script type="text/javascript" src="{% static 'xadmin/js/jquery.min.js' %}"></script>

    <script src="{% static 'xadmin/lib/layui/layui.js' %}" charset="utf-8"></script>

    {% block jqeury_append %}

    {% endblock %}
</head>

{% block body %}
<body>

</body>
{% endblock %}

</html>